@charset "utf-8";
/*!
 * GC Web Usability theme v1.0a3 / Thème de la facilité d'emploi GC v1.0a3
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {
	/** Render invisible **/
	#cn-sig img, #cn-wmms img {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important; margin: 0 !important;}

	#cn-body-inner-1col, #cn-body-inner-2col, #cn-body-inner-2col-right, #cn-body-inner-3col{background-position:center 4.1em;}
	
	/** GC navigation bar **/ 
	#cn-gcnb {height: 4em}
	#cn-sig {margin: 13px 0;}
	#cn-gcnb  ul li {padding: 18px 0;}

	/** Site title **/
	#cn-site-title{position:relative;}
	#cn-site-title-inner{position:absolute;top:50%;}
	#cn-site-title a{position:relative;top:-50%;}
	#cn-site-title, #cn-site-title a {filter: Shadow(Color=#333333, Direction=125,Strength=1);}

	/** Search **/
	#cn-search-box{padding: 11px 10px 4px 12px;}
	#cn-search-submit{border:none;padding-left:0;padding-right:0;}
	
	/** Footer **/
	#cn-ft-tctr {padding: 7px 0 6px 0;}
	#cn-ft-tctr li.terms {padding: 0 5px 0 10px;}
	#cn-ft-tctr li.trans {padding-left: 10px;}
	#cn-sft-inner .span-1,#cn-sft-inner .span-2,#cn-sft-inner .span-3,#cn-sft-inner .span-4,#cn-sft-inner .span-5,#cn-sft-inner .span-6,#cn-sft-inner .span-7,#cn-sft-inner .span-8,#cn-sft-inner .span-9,#cn-sft-inner .span-10,#cn-sft-inner .span-11,#cn-sft-inner .span-12{margin-right: 9px;}
	#cn-gcft li {margin: 13px 35px 14px 9px;}
}

/** Print-only CSS **/
@media print {
	#cn-banner {width: 100%; margin-top: 20px; margin-bottom: 20px;}
	#cn-bc {padding: 5px 0;}
	#cn-bc ol {line-height: normal; margin-left: -10px;}
	#cn-bc li {margin: 0; padding: 0 0 0 10px;}
	#cn-bc a {border-right: 1px solid #000; padding-right: 10px;}
}